/* UserDashboard.component.css */

.user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.card-title-booking {
  color: beige;
  margin-bottom: 10px;

}

.card-title {
  margin-bottom: 10px;
}

.booking-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.booking-cards {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 10px;
  flex-wrap: nowrap; /* Prevent wrapping for horizontal scroll */
  overflow-x: auto; /* Enable horizontal scroll */
}

.booking-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 20px); /* To create a three-card layout with spacing */
  min-width: 300px; /* Set minimum width to ensure cards are not too narrow */
}

/* Additional styling for booking details within booking-card */
.booking-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.booking-card p {
  margin: 5px 0;
}

.booking-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-top: 20px;
  background-color: #f9f9f9;
  margin: 10px;
}

.booking-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-vehicle-form select,
.booking-form select,
.booking-form button {
  display: block;
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.booking-form button {
  background-color: #281d41;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.booking-form button:hover {
  background-color: #281d41;
}

/* Style for the date picker */
.react-datepicker-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.react-datepicker {
  font-family: inherit;
}

.react-datepicker__input-container input {
  width: 94%;
  padding: 9px 12px;
  white-space: pre-line;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  margin-bottom: 10px;
}

.react-datepicker__input-container input::placeholder {
  color: #aaa;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #281d41;
}

/* Adjust the calendar pop-up */
.react-datepicker-popper {
  z-index: 1001; 
}

.react-datepicker__month-container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 70% !important;
}

.react-datepicker__month {
  margin: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.react-datepicker__day {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0.166rem;
  cursor: pointer;
  border-radius: 4px;
}

.react-datepicker__day--in-range {
  background-color: #f0f0f0;
}

.react-datepicker__day--selected {
  background-color: #281d41;
  color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: #281d41;
}

/* Customize the previous and next month buttons */
.react-datepicker__navigation {
  top: 1rem;
  line-height: 1.7rem;
  background: none;
    display: flex !important;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0 !important;
    border: none;
    z-index: 1;
    height: 32px;
    width: 32px;
    text-indent: -999em;
    overflow: hidden;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 15px; /* Adjust the vertical position */
  width: 30px; /* Adjust the width */
  height: 30px; /* Adjust the height */
  background: #281d41; /* Background color for buttons */
  border: none; /* Remove the border */
  color: white; /* Text color */
  border-radius: 50%; /* Make the buttons circular */
  display: flex ;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

/* Highlight the currently selected date */
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: #281d41;
  color: #fff;
}

.width100 {
  width: 100%;
}

.add-vehicle-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 30%;
  margin: 10px;
}

.add-vehicle-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.add-vehicle-button {
  background-color: #281d41;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.add-vehicle-button:hover {
  background-color: #281d41;
}

.flex-display {
  display: flex;
  width: 80%;
}
